$text-color: #555;
$font-family: Times New Roman;

body {
  background-color: #white;
  color: $text-color;
  text-align: center;
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  font-family: $font-family;
}

a {
  color: $text-color;
  font-family: $font-family;
}

input[type="email"].email-input {
  background: white;
  border: none;
  display: inline;
  border-radius: 25px;
  width: 400px;
  font-size: 200%;
  color: $text-color;
}

h1 {
  padding: 50px 0 0px 0;
}

.terminal-input {
  min-width: 400px;
  display: inline;
}

.terminal-input p {
  min-width: 400px;
  color: white;
  background-color: $text-color;
  text-align: left;
  border-radius: 25px;
  display: inline-block;
  font-size: 24pt;
  margin-bottom: 30px;
}

.terminal-input-placeholder {
  font-style: italic;
  opacity: 0.7;
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.terminal-input-carat:before {
  content: "|";
  color: #F66;
}

.terminal-input-carat.blink {
  animation: blink 1s step-start 0s infinite;
}

@keyframes fadeout {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

@keyframes fadein {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}

.fadein {
  animation-duration: 0.5s;
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.fadeout {
  animation-duration: 0.5s;
  animation-name: fadeout;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

